Coeus.PythonFramework/.idea
Coeus.PythonFramework/coeus.egg-info
Coeus.PythonFramework/coeus.python_framework.egg-info
Coeus.PythonFramework/dist
*.pyc
.idea
coeus.egg-info
coeus.python_framework.egg-info
dist
coeus_test.egg-info
